{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block messages %}
    {{ render_messages() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="offset-md-3">{{ flow }}</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ render_hidden_errors(form) }}
                {{ render_form(form, button_style='success') }}
            </div>
        </div>
        <div hx-get="{{ url_for("todo.todos_items") }}" hx-trigger="every 10s"></div>
    </div>

{% endblock %}