<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Is Done</th>
        <th scope="col">Created At</th>
    </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            {% if todo.is_done %}
                <td><input class="form-check" type="checkbox" value="" checked></td>
            {% else %}
                <td><input class="form-check" type="checkbox" value="" checked></td>
            {% endif %}
            <td>{{ todo.created_at.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
